// Variables
$body-margin-left: 16px !default;
$body-margin-right: 16px !default;
$font-family: sans-serif !default;
$base-font-size: 18px !default;
$line-height: 1.5 !default;
$body-max-width: 768px !default;
$desktop-breakpoint: $body-max-width + $body-margin-left + $body-margin-right !default;

// Color, see https://github.com/morhetz/gruvbox
$background-color-light: #3B38A0 !default;
$background-color1-light: #2F2C7F !default;
$foreground-color-light: #B2B0E8 !default;
$foreground-color3-light: #bdae93 !default;
$accent-color-light: #4D73FF !default; // orange

$background-color-dark: #3B38A0 !default;
$background-color1-dark: #2F2C7F !default;
$foreground-color-dark: #B2B0E8 !default;
$foreground-color3-dark: #bdae93 !default;
$accent-color-dark: #4D73FF !default;